/config/.env

.idea
/.idea
.idea/
.DS_Store
__pycache__/
__pycache__
/__pycache__/
.DS_Store
data/.DS_Store
/data/pp_2020_2025_combined.csv
data/pp_2022_2025_combined.csv
.idea/
.DS_Store
/data/epc/
/data/ppd/

/data
/address_parser/
/machine_learning/address_parser/data/raw/ppd_addresses/
